*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
}
/* shared style */
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}

.color-orange{
    color:#FD6E0A ;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 51px;
}
nav{
    width: 60%;
    max-width:1162px;
    /* border: 1px solid green; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;

}

nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;

}

.btn{
    background-color: #FD6E0A;
    border:none;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    align-items: center;
}